// COLORS
$background_color: rgb(250, 250, 250);
$red: rgb(244, 105, 108);
$black: rgb(41, 41, 41);

// SIZES
$desktop_title: 24px;
$desktop_text: 16px;
$desktop_button_text: 14px;

$tablet_title: 20px;
$tablet_text: 13px;
$tablet_button_text: 11px;

$mobile_title: 17px;
$mobile_text: 11px;
$mobile_button_text: 10px;

// FONTS
$main_font: 'Space Grotesk', sans-serif;